body {
    color:black;
    padding: 3rem;
    background-color:bisque;
}

h3 {
    margin-bottom: 1rem;
}

.slide-show {
    display: flex;
}

.dragons {
    display: none;
    cursor: pointer;
}

.current {
    display: unset;
}

img {
    border: 5px solid red;
}

.form-check {
    margin-bottom: 2rem;
}

.form-check-input:checked {
    background-color: #0dfd766b;
    border-color: #bdfd0d;
  }